<!-- Available time slot -->
<h1 style="text-align: center; margin-top: 30px;"><b>Dr. Mary Ellis Appointment Time Slot</b></h1>
<h3 style="text-align: center;"><i>Day: Sunday</i></h3>
<h3 style="text-align: center;"><i>Time: 10:00 AM - 06:00 PM</i></h3>
<div style="margin-left:5%; margin-right: 5%;text-align: center;" class="row">
  <div style="margin-top: 10px;" *ngFor="let data of timeSlots" class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title"><b>Appointment Slot: {{ data }}</b></h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/appointment-form" href="#"><button class="btn">Choose This Slot</button></a>
      </div>
    </div>
  </div>
</div>







<h1 style="text-align: center; margin-top: 30px;"><b>Dr. Mary Ellis Appointment Time Slot</b></h1>
<h3 style="text-align: center;"><i>Day: Monday</i></h3>
<h3 style="text-align: center;"><i>Time: 09:00 PM - 11:00 PM</i></h3>
<div style="margin-left:5%; margin-right: 5%;text-align: center;" class="row">
  <div style="margin-top: 10px;" *ngFor="let data of timeSlots2" class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title"><b>Appointment Slot: {{ data }}</b></h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/appointment-form" href="#"><button class="btn">Choose This Slot</button></a>
      </div>
    </div>
  </div>
</div>







<h1 style="text-align: center; margin-top: 30px;"><b>Dr. Mary Ellis Appointment Time Slot</b></h1>
<h3 style="text-align: center;"><i>Day: Thursday</i></h3>
<h3 style="text-align: center;"><i>Time: 11:00 AM - 02:00 PM</i></h3>
<div style="margin-left:5%; margin-right: 5%;text-align: center;" class="row">
  <div style="margin-top: 10px;" *ngFor="let data of timeSlots3" class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 style="text-align: center;" class="card-title"><b>Appointment Slot: {{ data }}</b></h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/appointment-form" href="#"><button class="btn">Choose This Slot</button></a>
      </div>
    </div>
  </div>
</div>





<div class="footer-button">
  <div class="footer-btn-inner">
    &copy; Digital Healthcare | Designed by Parvez Hossain
  </div>
</div>
